
    <div class="container mt-5">
       <!-- SuccessMessage -->
       <div *ngIf="showsuccessMessage" class="successMessage">Submitted!!</div>

        <h2 class="text-center">Raise Issues </h2>
        <form #registerForm="ngForm" (ngSubmit)="userregister()">
            <div class="form-group">
                <!-- Associate ID -->
                <label for="associateId" >Associate ID <span style="color: red">*</span></label>
                <input type="text" id="associateId" class="form-control" #associateId="ngModel" [(ngModel)]="user.associateId"
                  name="associateId" required placeholder="Enter associate Id" pattern="^[0-9]+$" required />
                <div class="text-danger" *ngIf="
                    (associateId.invalid && (associateId.touched || associateId.dirty)) ||
                    isFormSubmited
                  ">
                  <span *ngIf="associateId.errors?.['required']">Required</span>
                  <span *ngIf="associateId.errors?.['pattern']">Enter number </span>
                </div>
              </div>


              <div class="form-group">
                <!-- Issue Type -->
                <label for="issueType">Issue Type<span style="color: red">*</span></label>
                <!-- <input type="text" id="issueType" class="form-control" #issueType="ngModel" [(ngModel)]="user.issueType"
                  name="issueType" required placeholder="Enter Issue Type " minlength="3" required /> -->
                <select id="issueType" placeholder="Enter Issue Type " class="form-control" #issueType="ngModel" [(ngModel)]="user.issueType" name="issueType"  required>
                  <option value="" disabled>Select an issue type</option>
                  <option value="Slowness">Slowness</option>
                  <option value="Interruption">Interruption</option>
                  <option value="Others">Others</option>
                </select>
              
                <div class="text-danger" *ngIf="(issueType.invalid && (issueType.touched || issueType.dirty)) || isFormSubmited">
                  <span *ngIf="issueType.errors?.['required']">Required</span>
                </div>
              </div>
              
            <div class="form-group">  
                <!-- Summary of Issue -->
                <label for="issueSummary">Summary of Issue</label>
                <input type="text" id="issueSummary" class="form-control" #issueSummary="ngModel" [(ngModel)]="user.issueSummary"
                  name="issueSummary" required placeholder="Enter Issue Type " minlength="3" required />
                  
                <div class="text-danger" *ngIf="
                    (issueSummary.invalid && (issueSummary.touched || issueSummary.dirty)) ||
                    isFormSubmited
                  ">
                  <span *ngIf="issueSummary.errors?.['required']">Required</span>
                  <span *ngIf="issueSummary.errors?.['minlength']">Min 3 Charactors Needed </span>
                </div>
              </div>

            <div class="form-group">  
                <!-- Issue description -->
                <label for="description">Issue Description<span style="color: red">*</span></label>
                <input type="text" id="description" class="form-control" #description="ngModel" [(ngModel)]="user.description"
                  name="description" required placeholder="Enter Issue Type " minlength="3" required />
                  
                <div class="text-danger" *ngIf="
                    (description.invalid && (description.touched || description.dirty)) ||
                    isFormSubmited
                  ">
                  <span *ngIf="description.errors?.['required']">Required</span>
                  <span *ngIf="description.errors?.['minlength']">Min 3 Charactors Needed </span>
                </div>
              </div>

            
            <div class="form-group">  
                <!-- Source IP -->
                <label for="Source IP">Source IP<span style="color: red">*</span></label>
                <input type="text" id="sourceIP" class="form-control" #sourceIP="ngModel" [(ngModel)]="user.sourceIP"
                  name="sourceIP" required placeholder="Enter Source IP " pattern="^(?:[0-9]{1,3}\.){3}[0-9]{1,3}$" required />
                  
                <div class="text-danger" *ngIf="
                    (sourceIP.invalid && (sourceIP.touched || sourceIP.dirty)) ||
                    isFormSubmited
                  ">
                  <span *ngIf="sourceIP.errors?.['required']">Required</span>
                  <span *ngIf="sourceIP.errors?.['pattern']">Enter valid IP address!</span>
                </div>
              </div>


            <div class="form-group">  
                <!-- Source IP -->
                <label for="destinationIP">Destination IP<span style="color: red">*</span></label>
                <input type="text" id="destinationIP" class="form-control" #destinationIP="ngModel" [(ngModel)]="user.destinationIP"
                  name="destinationIP" required placeholder="Enter Issue Type " pattern="^(?:[0-9]{1,3}\.){3}[0-9]{1,3}$" required />
                  
                <div class="text-danger" *ngIf="
                    (destinationIP.invalid && (destinationIP.touched || destinationIP.dirty)) ||
                    isFormSubmited
                  ">
                  <span *ngIf="destinationIP.errors?.['required']">Required</span>
                  <span *ngIf="destinationIP.errors?.['pattern']">Enter valid IP address!</span>
                </div>
              </div>

           
          

              <div class="form-group">
                <label for="vpn">VPN<span style="color: red">*</span></label>
                <select id="vpn" class="form-control" #vpn="ngModel" [(ngModel)]="user.vpn" name="vpn" required>
                  <option value="" disabled>Select a VPN</option>
                  <option value="VPN-1">VPN-1</option>
                  <option value="VPN-2">VPN-2</option>
                </select>
              
                <div class="text-danger" *ngIf="(vpn.invalid && (vpn.touched || vpn.dirty)) || isFormSubmited">
                  <span *ngIf="vpn.errors?.['required']">Required</span>
                </div>
              </div>
              

              <!-- Mode Of Connectivity -->
            <div class="form-group">  
                <label for="connectivity">Mode Of Connectivity<span style="color: red">*</span></label>
                <!-- <input type="text" id="connectivity" class="form-control" #connectivity="ngModel" [(ngModel)]="user.connectivity"
                  name="connectivity" required placeholder="Enter Issue Type " required /> -->
                  <select id="connectivity" class="form-control" #connectivity="ngModel" [(ngModel)]="user.connectivity" name="connectivity" required>
                    <option value="" disabled>Select The Connectivity</option>
                    <option value="Home">Home</option>
                    <option value="Office">Office</option>
                  </select>
                <div class="text-danger" *ngIf="
                    (connectivity.invalid && (connectivity.touched || connectivity.dirty)) ||
                    isFormSubmited
                  ">
                  <span *ngIf="connectivity.errors?.['required']">Required</span>
                </div>
              </div>
           
            <div class="form-group">  
                <!-- Source IP -->
                <label for="impactes">No Of Users Impacted</label>
                <input type="text" id="impactes" class="form-control" #impactes="ngModel" [(ngModel)]="user.impactes"
                  name="impactes" required placeholder="Enter Issue Type " required />
                  
                <div class="text-danger" *ngIf="
                    (impactes.invalid && (impactes.touched || impactes.dirty)) ||
                    isFormSubmited
                  ">
                  <span *ngIf="impactes.errors?.['required']">Required</span>
                </div>
              </div>

            <div class="form-group">  
                <!-- Status -->
                <label for="status">Status</label>
                <!-- <input type="text" id="status" class="form-control" #status="ngModel" [(ngModel)]="user.status"
                  name="status" required placeholder="Enter Issue Type " required /> -->
                  <select id="status" class="form-control" #status="ngModel" [(ngModel)]="user.status" name="status" required>
                    <option value="" disabled>Select The status</option>
                    <option value="Open">Open</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Closed">Closed</option>
                  </select>
                <div class="text-danger" *ngIf="
                    (status.invalid && (status.touched || status.dirty)) ||
                    isFormSubmited
                  ">
                  <span *ngIf="status.errors?.['required']">Required</span>
                </div>
              </div>

  
            <div class="form-group">  
                <!-- Date and Time -->
                <label for="datetime">Date and Time<span style="color: red">*</span></label>
                <input type="datetime-local" id="datetime" class="form-control" #datetime="ngModel" [(ngModel)]="user.datetime"
                  name="datetime" required placeholder="Enter Issue Type " required />
                  
                <div class="text-danger" *ngIf="
                    (datetime.invalid && (datetime.touched || datetime.dirty)) ||
                    isFormSubmited
                  ">
                  <span *ngIf="datetime.errors?.['required']">Required</span>
                </div>
              </div>

            <!-- Submit Button (centered) -->
            <div class="text-center">
          <button type="submit" class="btn btn-primary" [disabled]="!registerForm.form.valid"
            (click)="onSubmit(registerForm)">
            Submit
          </button>
        </div>
       
        </form>
    </div>

