.card{
    border-radius: 2rem;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 3%;
    padding: 2%;
    justify-items: center;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 7%;
    /* max-width: 400px; */

}
